<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>天智健身系统</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        .navbar{
            background-color: #122b40;
            color: #eeeeee;
            line-height: 40px;
            padding: 0 30px;
        }
        .pull-right{
            margin: 0;
        }
    </style>
</head>
<body>
<div class="header">
    <h1><a href="#">天智健身系统</a></h1>
    <div class="user">
        <a href="#" shiro:principal property="account"></a>
        <a href="/user/logout">退出登录</a>
    </div>
</div>
<div class="main">
    <ul class="left-side">
        <li class="menu-title" shiro:hasAnyRoles="前台,超级管理员">
            <a href="#">
                <i></i>&nbsp;&nbsp;租柜管理
            </a>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="active">
                    <a href="/cabinet/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;柜子信息
                    </a>
                </li>
                <li class="active">
                    <a href="/cabinet/info"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;租柜记录
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="前台,超级管理员">
            <a href="#">
                <i></i>&nbsp;&nbsp;前台签到
            </a>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="active">
                    <a href="/staff_sign/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;员工签到
                    </a>
                </li>
                <li class="active">
                    <a href="/member_sign/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;会员进场
                    </a>
                </li>
                <li class="active">
                    <a href="/prospect_sign/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;潜客登记
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="前台,超级管理员">
            <a href="/member_recharge/show" target="pageBox">
                <i></i>&nbsp;&nbsp;会员充值
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="会员,超级管理员">
            <a href="#">
                <i></i>&nbsp;&nbsp;训练管理
            </a>
        </li>
        <li class="sub-menu" shiro:hasAnyRoles="会员,超级管理员">
            <ul>
                <li class="active">
                    <a href="/member_train/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;训练记录
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active">
                    <a href="/member_train/start"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;开始训练
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active">
                    <a href="/member_train/form.html"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;运动报表
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title">
            <a href="#" shiro:hasAnyRoles="会员,超级管理员">
                <i></i>&nbsp;&nbsp;团课预约
            </a>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="active">
                    <a href="/class_order/order"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;团课预约
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active">
                    <a href="/class_order/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;预约记录
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title">
            <a href="#" shiro:hasAnyRoles="教练,主管,超级管理员">
                <i></i>&nbsp;&nbsp;团课管理
            </a>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="active">
                    <a href="/class/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;团课安排
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title">
            <a href="#" shiro:hasAnyRoles="会员,教练,主管,超级管理员">
                <i></i>&nbsp;&nbsp;课程管理
            </a>
        </li>
        <li class="sub-menu">
            <ul>
                <li class="active" shiro:hasAnyRoles="会员,超级管理员">
                    <a href="/coach/find"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;私教预约
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active" shiro:hasAnyRoles="会员,超级管理员">
                    <a href="/coach_order/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;预约记录
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active" shiro:hasAnyRoles="教练,主管,超级管理员">
                    <a href="/coach_class/show"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;排课管理
                    </a>
                </li>
            </ul>
            <ul>
                <li class="active" shiro:hasAnyRoles="教练,超级管理员">
                    <a href="/coach_class/form.html"  target="pageBox">
                        <i class="fa fa-circle-thin"></i>&nbsp;&nbsp;课程分析
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-title">
            <a href="/scheduler/show" target="pageBox" shiro:hasAnyRoles="教练,超级管理员">
                <i></i>&nbsp;&nbsp;日程管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/user/show" target="pageBox">
                <i></i>&nbsp;&nbsp;用户管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/staff/show" target="pageBox">
                <i></i>&nbsp;&nbsp;员工管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/coach/show" target="pageBox">
                <i></i>&nbsp;&nbsp;教练管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/member/show" target="pageBox">
                <i></i>&nbsp;&nbsp;会员管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/card/show" target="pageBox">
                <i></i>&nbsp;&nbsp;会员卡管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/finance/form.html" target="pageBox">
                <i></i>&nbsp;&nbsp;财务报表
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/achievement/show" target="pageBox">
                <i></i>&nbsp;&nbsp;业绩管理
            </a>
        </li>
        <li class="menu-title" shiro:hasAnyRoles="主管,超级管理员">
            <a href="/maintenance/show" target="pageBox">
                <i></i>&nbsp;&nbsp;维护记录
            </a>
        </li>
    </ul>
    <div class="right-side">
        <iframe class="admin-img" name="pageBox" src="/img/1.jpg">

        </iframe>
        <div class="footer">
            @Sofia
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/admin.js"></script>
</html>