<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>天智健身系统</title>
    <style>
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .container{
            margin-top: 50px;
        }
        .btn {
            width:100px;
            margin:0 0 0 65px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1><a href="#">天智健身系统</a></h1>
    <div class="user">
        <a href="/user/edit.html">个人中心</a>
        <a>退出</a>
    </div>
</div>
<form class="container" method="post" action="/member_train/end">
    <ol class="breadcrumb">
        <span class="active">结束训练</span>
    </ol>
    <input type="hidden" name="id" th:value="${id}">
    <div class="btn-group">
        <button type="submit" class="btn btn-success">结束训练</button>
    </div>
</form>
</body>
</html>
