<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>天智健身系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style type="text/css">
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .btn{
            margin: 20px auto;
        }
        .container{
            margin-top: 50px;
        }
        .pagination li{
            background-color: Window;
        }
    </style>
</head>
<body>
<div class="header">
    <h1><a href="#">天智健身系统</a></h1>
    <div class="user">
        <a href="/user/edit.html">个人中心</a>
        <a>退出</a>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <a href="/staff/show">员工管理</a> /
        <span class="active">信息展示</span>
    </ol>
    <a href="/staff/add" class="btn btn-default">添加员工</a>
    <table id="table" class="table table-bordered">
        <tr>
            <td>编号</td>
            <td>姓名</td>
            <td>性别</td>
            <td>出生日期</td>
            <td>手机号</td>
            <td>入职时间</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="staff:${staffs}">
            <td th:text="${staff.number}"></td>
            <td th:text="${staff.name}"></td>
            <td th:text="${staff.sex}"></td>
            <td th:text="${staff.birthday}"></td>
            <td th:text="${staff.phone}"></td>
            <td th:text="${staff.createTime}"></td>
            <td th:if="${staff.status==1}" th:text="正式"></td>
            <td th:if="${staff.status==2}" th:text="实习"></td>
            <td th:if="${staff.status==3}" th:text="试用"></td>
            <td th:if="${staff.status==4}" th:text="离职"></td>
            <td th:if="${staff.status==5}" th:text="辞退"></td>
            <td th:if="${staff.status==0}" th:text="无效记录"></td>
            <td>
                <a th:href="@{/staff/edit(id=${staff.id})}">修改信息</a>
                <a th:href="@{/staff/delete(id=${staff.id})}">删除信息</a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${mPage>0}">
                <a th:href="@{/staff/show(page=1)}">首页</a>
            </li>

            <!-- 上一页 -->
            <li th:if="${currentPage -1 >= 1}">
                <a th:href="@{/staff/show(page=${currentPage}-1)}" th:text="上一页"></a>
            </li>

            <!-- 中间页 -->
            <li th:if="${mPage<=5 && mPage>0}" th:each="page:${#numbers.sequence(1, mPage)}">
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage<=3}" th:each="page:${#numbers.sequence(1, 5)}">
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage>3 && currentPage+2<=mPage}" th:each="page:${#numbers.sequence(currentPage-2,currentPage+2)}">
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage>3 && currentPage+2>mPage}" th:each="page:${#numbers.sequence(mPage-4,mPage)}">
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/staff/show(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>

            <!-- 下一页 -->
            <li th:if="${currentPage < mPage}">
                <a th:href="@{/staff/show(page=${currentPage+1})}" th:text="下一页"></a>
            </li>

            <!-- 尾页 -->
            <li th:if="${mPage>0}">
                <a th:href="@{/staff/show(page=${mPage})}">尾页</a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>
