<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>天智健身系统</title>
    <style>
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .container{
            margin-top: 50px;
        }
        .btn {
            width:100px;
            margin:0 0 0 65px;
        }
    </style>
</head>
<body>
<form class="container" method="post" action="/user/insert">
    <ol class="breadcrumb">
        <a href="/user/show">用户管理</a> /
        <span class="active">添加用户</span>
    </ol>
    <div class="input-group">
        <span class="input-group-addon">账号</span>
        <input type="text" class="form-control" name="account" value="admin"/>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">密码</span>
        <input type="password" class="form-control" name="password" value="123456"/>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">用户编号</span>
        <input type="number" class="form-control" name="number" value="12020001"/>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">角色</span>
        <select class="form-control" name="roleId">
            <option  th:each="role:${roles}" th:text="${role.name}" th:value="${role.id}"></option>
        </select>
    </div>
    <br />
    <div class="btn-group">
        <button type="submit" class="btn btn-success">确定</button><a href="/user/show" class="btn btn-default">返回</a>
    </div>
</form>
</body>
</html>
