<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>员工签到</title>
    <style>
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .container{
            margin-top: 50px;
        }
        .btn {
            width:100px;
            margin:0 0 0 65px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1><a href="#">天智健身系统</a></h1>
    <div class="user">
        <a href="/user/edit.html">个人中心</a>
        <a>退出</a>
    </div>
</div>
<form class="container" method="post" action="/staff_sign/insert">
    <ol class="breadcrumb">
        <span class="active">员工签到</span>
    </ol>
    <div class="input-group">
        <span class="input-group-addon">员工编号</span>
        <input type="number" class="form-control" name="staffNumber" value="2020001"/>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">签到备注</span>
        <input type="text"  class="form-control" name="remark">
    </div>
    <br />
    <div class="btn-group">
        <button type="submit" class="btn btn-success">确定</button><a href="/staff_sign/show" class="btn btn-default">返回</a>
    </div>
</form>
</body>
</html>
