<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>天智健身系统</title>
    <style>
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .container{
            margin-top: 50px;
        }
        .btn {
            width:100px;
            margin:0 0 0 65px;
        }
    </style>
</head>
<body>
<form class="container" method="post" action="/member_recharge/insert">
    <ol class="breadcrumb">
        <span class="active">会员充值</span>
    </ol>
    <div class="input-group">
        <span class="input-group-addon">充值项</span>
        <select class="form-control" name="itemNumber">
            <option th:each="card:${cards}" th:value="${card.number}" th:text="${card.number+card.type}"></option>
            <option th:each="class:${classes}" th:value="${class.number}"  th:text="${class.number+class.name}"></option>
        </select>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">充值金额</span>
        <input type="number" class="form-control" name="money"/>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">会员编号</span>
        <input type="number" class="form-control" name="memberNumber" value="202004001"/>
    </div>
    <br>
    <div class="btn-group">
        <button type="submit" class="btn btn-success">确定</button><a href="/member_recharge/show" class="btn btn-default">返回</a>
    </div>
</form>
</body>
</html>
