<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>天智健身系统</title>
    <style>
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .container{
            margin-top: 50px;
        }
        .btn {
            width:100px;
            margin:0 0 0 65px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1><a href="#">天智健身系统</a></h1>
    <div class="user">
        <a href="/user/edit.html">个人中心</a>
        <a>退出</a>
    </div>
</div>
<form class="container" method="post" action="/cabinet/insert">
    <ol class="breadcrumb">
        <a href="/cabinet/show">租柜管理</a> /
        <span class="active">添加柜子</span>
    </ol>
    <div class="input-group">
        <span class="input-group-addon">柜子编号</span>
        <input type="number" class="form-control" name="number" value="101"/>
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">柜子容量</span>&nbsp;&nbsp;
        <input type="radio" name="capacity" value="0" checked="checked">&nbsp;40 * 40 * 50&nbsp;&nbsp;
        <input type="radio" name="capacity" value="1">&nbsp;80 * 80 *100
    </div>
    <br />
    <div class="btn-group">
        <button type="submit" class="btn btn-success">确定</button><a href="/cabinet/show" class="btn btn-default">返回</a>
    </div>
</form>
</body>
</html>
