<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>天智健身系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style type="text/css">
        body{
            min-height: 400px;
        }
        h1{
            line-height: 60px;
        }
        .btn{
            margin: 20px auto;
        }
        .container{
            margin-top: 50px;
        }
        .pagination li{
            background-color: Window;
        }
    </style>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <a href="/cabinet/show">租柜管理</a> /
        <span class="active">租柜记录</span>
    </ol>
    <table id="table" class="table table-bordered">
        <tr>
            <td>租赁编号</td>
            <td>柜子编号</td>
            <td>会员编号</td>
            <td>租赁时长</td>
            <td>租赁金额</td>
            <td>开租时间</td>
            <td>修改时间</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <tr th:each="info:${infos}">
            <td th:text="${info.number}"></td>
            <td th:text="${info.cabinetNumber}"></td>
            <td th:text="${info.memberNumber}"></td>
            <td th:text="${info.duration}"></td>
            <td th:text="${info.price}"></td>
            <td th:text="${info.createTime}"></td>
            <td th:text="${info.updateTime}"></td>
            <td th:if="${info.status==1}" th:text="可用"></td>
            <td th:if="${info.status==2}" th:text="到期"></td>
            <td>
                <a th:if="${info.status==1}" th:href="@{/cabinet/delete(id=${info.id})}">到期</a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a th:href="@{/cabinet/info(page=1)}">首页</a>
            </li>

            <!-- 上一页 -->
            <li th:if="${currentPage -1 >= 1}">
                <a th:href="@{/cabinet/info(page=${currentPage}-1)}" th:text="上一页"></a>
            </li>

            <!-- 中间页 -->
            <li th:if="${mPage<=5}" th:each="page:${#numbers.sequence(1, mPage)}">
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage<=3}" th:each="page:${#numbers.sequence(1, 5)}">
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage>3 && currentPage+2<=mPage}" th:each="page:${#numbers.sequence(currentPage-2,currentPage+2)}">
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li th:if="${mPage>5 && currentPage>3 && currentPage+2>mPage}" th:each="page:${#numbers.sequence(mPage-4,mPage)}">
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page ne currentPage}"></a>
                <a th:href="@{/cabinet/info(page=${page})}" th:text="${page}" th:if="${page eq currentPage}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>

            <!-- 下一页 -->
            <li th:if="${currentPage < mPage}">
                <a th:href="@{/cabinet/info(page=${currentPage+1})}" th:text="下一页"></a>
            </li>

            <!-- 尾页 -->
            <li>
                <a th:href="@{/cabinet/info(page=${mPage})}">尾页</a>
            </li>
        </ul>
    </nav>

</div>

</body>
</html>
